@import "./var.scss";

body {
    margin: 0;
    background: $gohun;
    font-family: 'Noto Sans', 'Noto Sans Japanese', sans-serif;
}

hr {
    width: 100%;
    border: 0;
    border-bottom: 1px dashed #ccc;
}