nav ul li {
    list-style: none;
    vertical-align: baseline;
    background: transparent;
    display: inline-block;
}

// .globalHeader {
//     width: 500px;
//     height: auto;
//     border: 1px solid #000;
// }

// .header_wrap:after {
//     display: block;
//     clear: both;
//     content: "";
// }

// ul .navicontents li {
//     float: left;
//     width: 80px;
//     margin-right: 5px;
//     border: 1px #ffb366 solid;
//     background-color: #fffdee;
//     text-align: center;
// }

.navi {
    // margin-top: 25px;
}

.navi ul li {
    float: left;
    margin-right: 25px;
    margin-left: 30px;
    font-size: 30px;
}

.navi ul li a {
    // margin-top: 30px;
    text-decoration: none;
    color: #333;
    letter-spacing: 0.1em;
    // font-weight: 400;
    padding-top: 150px;
    padding-bottom: 54px;
}

.navi ul li a .current {
    border-bottom: 1px solid #ec652b;
}

.navi ul li a:hover {
    border-bottom: 1px solid #ec652b;
}

.navi {
    float: left;
}