@import "./var.scss";

.profile-page {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 0px;
    word-wrap: break-word;

    h3 {
        font-size: 32px;
        padding-bottom: 10px;
        text-align: center;
        color: $aisumicha;
    }
}

.profile-about {
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 53%;
}

p.profile-img img {
    // width: 95%;
    width: 265px;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    border-radius: 5px;
}


.status {
    // position: relative;
    margin: 0px;
    padding: 0px;
    margin-top: -20px;
    color: $aisumicha;
    ul {
        list-style: none;
    }

    li {
        text-align: left;
        margin: 0px;
        padding: 0px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    p {
        padding: 0px;
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: $tikusa;
        font-size: 16px;
    }

    a:hover {
        color: $benihiwa;
        font-size: 16px;
        transition: all 0.4s 0s ease;
    }

    .infotext {
        vertical-align: middle;
    }

    .info {
        margin: 0px;
        img {
            width: 20px;
            height: 20px;
            padding-right: 10px;
            vertical-align: middle;
        }
    }

    .name {
        font-size: 30px;
        color: $aisumicha;
    }

    small {
        padding-left: 30px;
    }
}

.bio {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: $aisumicha;
    max-width: 53%;

    & > .interests {
        text-align: center;
        display: inline-block;
        h5 {
            padding: 0px;
            margin: 0px;
            margin-top: 20px;
            font-size: 18px;
            margin-bottom: -5px;
            text-align: left;
        }
        p {
            padding: 0px;
            margin: 0px;
            margin-top: 10px;
            text-align: left;
        }
    }

    & > .background {
        display: inline-block;
        text-align: center;

        ul {
            list-style: none;
        }

        h5 {
            padding: 0px;
            margin: 0px;
            margin-top: 20px;
            font-size: 18px;
            margin-bottom: -5px;
            text-align: left;
        }

        .background-contents {
            display: flex;
            margin: 0px;
            padding: 0px;
    
            .background-year {
                margin: 0px;
                padding: 0px;
                ul {
                    margin: 0px;
                    padding: 0px;
                    padding-top: 10px;
                }
                li {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-align: left;
                }
            }
    
            .background-year-info {
                margin: 0px;
                padding: 0px;
                ul {
                    margin: 0px;
                    padding: 0px;
                    padding-top: 10px;
                    padding-left: 70px;
                }
                li {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-align: left;
                }
            }
        }
    }
}

.profile-page-middle {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    h3 {
        font-size: 32px;
        color: $aisumicha;
        text-align: center;
    }
}

.profile-about-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

p.profile-img-middle img {
    text-align: center;
    width: 40%;
    border-radius: 5px;
    margin: auto;
}

.status-middle {
    margin: 0px;
    padding: 0px;
    // margin-top: -20px;
    color: $aisumicha;
    
    ul {
        list-style: none;
        margin-left: 0px;
        padding: 0px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    p {
        padding: 0px;
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: $tikusa;
        font-size: 16px;
    }

    a:hover {
        color: $benihiwa;
        font-size: 16px;
        transition: all 0.4s 0s ease;
    }

    .infotext-middle {
        vertical-align: middle;
    }

    .info-middle {
        margin: 0px;
        img {
            width: 20px;
            height: 20px;
            padding-right: 10px;
            vertical-align: middle;
        }
    }

    .name-middle {
        font-size: 30px;
        color: $aisumicha;
    }
}

.bio-middle {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: $aisumicha;
    text-align: center;

    & > .interests-middle {
        display: inline-block;
        h5 {
            padding: 0px;
            margin: 0px;
            margin-top: 30px;
            font-size: 20px;
            text-align: center;
        }
        p {
            padding: 0px;
            margin: 0px;
            margin-top: 10px;
            text-align: center;
        }
    }

    & > .background-middle {
        display: inline-block;
        text-align: center;

        ul {
            list-style: none;
            margin-left: 0px;
            padding: 0px;
            margin-top: 3px;
            margin-bottom: 3px;
        }

        h5 {
            padding: 0px;
            margin: 0px;
            margin-top: 30px;
            font-size: 18px;
            margin-bottom: -5px;
        }

        .background-contents-middle {
            display: flex;
            flex-direction: column;
            margin: 0px;
            padding: 0px;

            li {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .per-contents-middle {
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }
    }
}