@import "./var.scss";

.detail-page {
    display: block;
    padding-top: 30px;
    text-align: center;
    word-wrap: break-word;
    color: $aisumicha;
    
    & > .project-header {
        width: 900px;
        display: inline-block;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    & > .project-header > h4 {
        text-align: left;
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    & > .project-header > p {
        text-align: left;
        font-size: 17px;
        margin: 0px;
        margin-top:10px;
        margin-bottom: 20px;
    }

}

.project-contents {
    & > .project-images {
        position: relative;
        width: 1000px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    img {
        width: 900px;
        height: auto;
        border-radius: 5px;
        align-self: center;
    }

    & > .project-description {
        width: 52%;
        display: inline-block;
        text-align: center;
        margin: 0px;
        padding: 0px;
        margin-bottom: 20px;
    }

    & > .project-description > p {
        text-align: left;
        font-size: 15px;
    }
}

.relations {
    width: 52%;
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;

    a {
        text-decoration: none;
        color: $tikusa;
    }

    a:hover {
        color: $benihiwa;
        transition: all 0.4s 0s ease;
    }

    p {
        text-align: left;
        margin-bottom: 8px;
    }

    ul {
        text-align: left;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    li {
        margin: 0px;
        padding: 0px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

.detail-page-middle {
    display: block;
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color: $aisumicha;

    & > .project-header-middle {
        display: inline-block;
        text-align: center;
    }

    & > .project-header-middle > h4 {
        text-align: center;
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    & > .project-header-middle > p {
        text-align: center;
        font-size: 17px;
        margin: 0px;
        margin-top:10px;
        margin-bottom: 20px;
    }
}

.project-contents-middle {
    & > .project-images {
        position: relative;
        // width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        align-self: center;
    }

    & > .project-description-middle {
        display: inline-block;
        text-align: center;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    & > .project-description-middle > p {
        text-align: left;
        font-size: 15px;
    }
}

.relations-middle {
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;

    a {
        text-decoration: none;
        color: $tikusa;
    }

    a:hover {
        color: $benihiwa;
        transition: all 0.4s 0s ease;
    }

    p {
        text-align: left;
        margin-bottom: 8px;
    }

    ul {
        text-align: center;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    li {
        margin: 0px;
        padding: 0px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

.movie-middle {
    position:relative;
    width:100%;
    padding-top:56.25%;
}

.movie-middle iframe {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
}