@import "./var.scss";

.research-page-middle {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 0px;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
    color: $aisumicha;
    
    h3 {
        font-size: 32px;
        padding-bottom: 10px;
    }
}

.bachelor-container-middle {
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
    text-align: center;

    & > .bachelor {
        text-align: center;
        padding: 0px;
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
    }

    & > .bachelor > .title {
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        border-bottom: solid 1.5px;
        padding-bottom: 3px;
        width: 110px;
        border-color: $hanaasagi;
        text-align: center;

        & > h3 {
            text-align: center;
        }
    }

    & > .bachelor > .contents {
        margin: 0px;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: left;
    }

    & > .bachelor > p {
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    & > .bachelor > .contents > p {
        font-size: 16px;
        padding-top: 10px;
        text-decoration: none;
        color: $aisumicha;

        a {
            font-size: 16px;
            padding-top: 10px;
            text-decoration: none;
            color: $tikusa;
        }

        a:hover {
            color: $benihiwa;
            transition: all 0.4s 0s ease;
        }
    }
}

.research-page {
    display: flex;
    flex-direction: column;
    width: 59%;
    margin: auto;
    padding: 0px;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
    color: $aisumicha;
    
    h3 {
        font-size: 32px;
        padding-bottom: 10px;
    }
}

.bachelor-container {
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
    text-align: center;

    & > .bachelor {
        text-align: center;
        padding: 0px;
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
    }

    & > .bachelor > .title {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        border-bottom: solid 1.5px;
        padding-bottom: 3px;
        width: 110px;
        border-color: $hanaasagi;
        text-align: left;
    }

    & > .bachelor > .contents {
        margin: 0px;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: left;
    }

    & > .bachelor > p {
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        text-align: left;
    }

    & > .bachelor > .contents > p {
        font-size: 16px;
        padding-top: 10px;
        text-decoration: none;
        color: $aisumicha;

        a {
            font-size: 16px;
            padding-top: 10px;
            text-decoration: none;
            color: $tikusa;
        }

        a:hover {
            color: $benihiwa;
            transition: all 0.4s 0s ease;
        }
    }
}