// common settings
$page-width: 1000px;

$shuan: #740a00;// 朱殷色
$gohun: #fffffc;// 胡粉色
$hiwa: #d6d000; // 鶸色
$tokusa: #22825d; // 木賊色
$konpeki: #005b98;// 紺碧色
$hanaasagi: #1e88a8; // 花浅葱色
$asaginezu: #94a8b9;// 浅葱鼠色
$konnezu: #3f4551; //紺鼠色
$aisumicha: #373c38;// 藍墨茶色
$usuasagi: #a2d7dd; // 薄浅葱色
$gunjou: #005baa;// 群青色
$soraironezu: #B8C8D1; // 空色鼠
$suzuiro: #9EA1A3;// 鈴色
$akamurasaki: #eb6ea5;// 赤紫
$konjou: #005499;// 根性色
$tikusa: #3a8fb7;// 千種色
$usubenifuji: #e9c3dc;// 薄紅富士
$kyoumurasaki: #772f6d;
$umegasane: #e9546b;
$benihiwa: #c9396d;