// common settings
$page-width: 1000px;
$shuan: #740a00;// 朱殷色
$Gghun: #fffffc;// 胡粉色
$hiwa: #d6d000; // 鶸色
$tokusa: #22825d; // 木賊色
$konpeki: #005b98;// 紺碧色
$hanaasagi: #1e88a8; // 花浅葱色
$asaginezu: #94a8b9;// 浅葱鼠色
$konnezu: #3f4551; //紺鼠色
$aisumicha: #373c38;// 藍墨茶色
$usuasagi: #a2d7dd; // 薄浅葱色