@import "./var.scss";

.work-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    width: $page-width;
    justify-content: space-between;

    & > .project-card {
        margin: 0px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
}
