@import "style/var.scss";
.card {
    width: 100%;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
    &:hover {
        top: -2px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    }
    img {
        width: 100%;
    }
    article {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h1 {
        font-size: 20px;
        margin: 0;
        color: #333;
    }
    p {
        flex: 1;
        line-height: 1.4;
    }
    span {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 2em 0 0 0;
    }
    .thumbnail {
        background-size: cover;
        background-position: center center;
    }
}