@import "style/var.scss";
.card {
    width: 100%;
    background: white;
    text-decoration: none;
    border-radius: 3px;
    color: #444;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    top: 0;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    &:hover {
        top: -2px;
        -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    }
    img {
        width: 100%;
        border-radius: 3px;
    }
    article {
        padding: 20px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    h1 {
        font-size: 20px;
        margin: 0;
        color: #333;
    }
    p {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        line-height: 1.4;
        word-wrap: break-word;
    }
    span {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 2em 0 0 0;
    }
    .thumbnail {
        background-size: cover;
        background-position: center center;
    }
}