@import "style/var.scss";
$line-height: 1.5;
.ex-card {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 5fr;
    grid-template-rows: 2fr 5fr;
    -ms-grid-columns: 5fr 3fr;
    grid-template-columns: 5fr 3fr;
    grid-row-gap: auto;
    grid-column-gap: auto;
    background: white;
    text-decoration: none;
    color: #444;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    position: relative;
    border-radius: 3px;
    &:hover {
        top: -2px;
        -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    }
}

.ex-header {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    .ex-name {
        font-size: 22px;
        margin: 0px;
        margin-top: 15px;
        margin-left: 15px;
    }
    .ex-subname {
        font-size: 18px;
        margin: 0px;
        margin-top: 5px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .card-hr {
        width: 97%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
}

.ex-image {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 5px 15px 15px 15px;
    padding: 0px;
    width: 90%;
    border-radius: 2%;
    margin-top: 25px;
}

.ex-contents {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 15px 0 0;
    margin-top: 25px;
    .up {
        .ex-title {
            font-size: 18px;
            margin: 0;
            margin-bottom: 10px;
            letter-spacing: 1px;
        }
        .ex-subtitle {
            font-size: 16px;
            margin: 0;
            padding: 0;
            letter-spacing: 1px;
        }
    }
    .down {
        margin-bottom: 15px;
        .ex-grounds {
            font-size: 12px;
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
        }
        .date {
            font-size: 12px;
            font-weight: bold;
            color: $aisumicha;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
        }
    }
}