@import "style/var.scss";
.profile-page {
    display: flex;
    flex-direction: column;
    width: $page-width;
    margin: auto;
    text-align: center;
    padding: 0;
    justify-content: center;
    padding: 0px;
    word-wrap: break-word;
    h3 {
        font-size: 28px;
        padding-bottom: 10px;
        color: $aisumicha;
    }
}

.profile-about {
    display: flex;
    margin: auto;
    justify-content: center;
}

p.profile-img img {
    // width: 95%;
    width: 265px;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    border-radius: 5px;
}

.status {
    margin: 0px;
    padding: 0px;
    margin-top: -20px;
    color: $aisumicha;
    ul {
        list-style: none;
    }
    li {
        text-align: left;
        margin: 0px;
        padding: 0px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    p {
        padding: 0px;
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
        color: $tikusa;
        font-size: 16px;
    }
    a:hover {
        color: $benihiwa;
        font-size: 16px;
        transition: all 0.4s 0s ease;
    }
    .infotext {
        vertical-align: middle;
    }
    .info {
        margin: 0px;
        img {
            width: 20px;
            height: 20px;
            padding-right: 10px;
            vertical-align: middle;
        }
    }
    .name {
        font-size: 30px;
        color: $aisumicha;
    }
    small {
        padding-left: 30px;
    }
}

.bio {
    display: flex;
    flex-direction: row;
    margin: auto;
    color: $aisumicha;
    justify-content: space-between;
    .interests {
        display: inline-block;
        text-align: left;
        margin-right: 190px;
        h5 {
            padding: 0px;
            margin: 0px;
            margin-top: 20px;
            font-size: 18px;
            margin-bottom: -5px;
            text-align: left;
        }
        p {
            padding: 0px;
            margin: 0px;
            margin-top: 10px;
            text-align: left;
        }
        ul {
            list-style: none;
            margin-left: -40px;
        }
        li {
            text-align: left;
        }
    }
    &>.background {
        display: inline-block;
        text-align: center;
        ul {
            list-style: none;
        }
        h5 {
            padding: 0px;
            margin: 0px;
            margin-top: 20px;
            font-size: 18px;
            margin-bottom: -5px;
            text-align: left;
        }
        .background-contents {
            display: flex;
            margin: 0px;
            padding: 0px;
            .background-year {
                margin: 0px;
                padding: 0px;
                ul {
                    margin: 0px;
                    padding: 0px;
                    padding-top: 10px;
                }
                li {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-align: left;
                }
            }
            .background-year-info {
                margin: 0px;
                padding: 0px;
                ul {
                    margin: 0px;
                    padding: 0px;
                    padding-top: 10px;
                    padding-left: 40px;
                }
                li {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-align: left;
                }
            }
        }
    }
}