@import "style/var.scss";
.exhibition-page {
    width: $page-width;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    h3 {
        font-size: 28px;
        padding-bottom: 10px;
        color: $aisumicha;
    }
}

.contents {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 30px;
    @media (min-width: 60em) {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 70em) {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
}

a {
    text-decoration: none;
    color: $tikusa;
    font-size: 16px;
}

a:hover {
    color: $benihiwa;
    font-size: 16px;
    -webkit-transition: all 0.4s 0s ease;
    -o-transition: all 0.4s 0s ease;
    transition: all 0.4s 0s ease;
}